/**** Defaults for standard elements ****/
html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  background-color: #121212;
  font-family: "Courier Prime", monospace;
  font-size: 12pt;
  font-weight: 400;
  color: #efefef;
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  width: 100vw;
  height: auto;
  padding: 50px 5vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: fade-in 3s;
          animation: fade-in 3s;
}

div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  color: #bb3122;
  font-size: 3.5rem;
  font-family: "Fredoka One", sans-serif;
  letter-spacing: 3px;
  text-align: center;
  margin: 0px;
}

h3 {
  color: #efefef;
  font-family: "Fredoka One", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-align: center;
  margin: 0px 0px 15px;
}

p {
  text-align: center;
  margin: .5rem 0px;
}

/**** IDs for specific elements ****/
/* used only in for-mom.html */
#flower {
  position: relative;
  height: 150px;
  margin: 0px 30px 0px 0px;
}

#input-area {
  display: inline-block;
  position: relative;
  margin: 20px auto 40px;
}

#input {
  font-family: inherit;
  font-size: 1.05rem;
  background-color: #efefef;
  width: 280px;
  height: 30px;
  border-radius: 16px 0px;
  border: 2px solid #bb3122;
  padding: 5px 15px;
}

#input::-webkit-input-placeholder {
  font-family: "Courier Prime", monospace;
  color: #aaa;
}

#input:-ms-input-placeholder {
  font-family: "Courier Prime", monospace;
  color: #aaa;
}

#input::-ms-input-placeholder {
  font-family: "Courier Prime", monospace;
  color: #aaa;
}

#input::placeholder {
  font-family: "Courier Prime", monospace;
  color: #aaa;
}

#button {
  color: #efefef;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #cb771e;
  height: 42px;
  border-radius: 16px 0px;
  border: none;
  padding: 6px 15px 3px;
  margin: 20px;
  cursor: pointer;
}

@media screen and (min-width: 540px) {
  #button {
    margin: 0px 20px;
  }
}

#word-area {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* let entire words wrap */
}

#options-area {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px 0px;
}

#options-icons {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#mode-button-group {
  display: inline-block;
  position: relative;
  margin: 0px auto 40px;
}

#dark-mode-button, #light-mode-button {
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: bold;
  height: auto;
  border-radius: 16px 0px;
  border: none;
  padding: 5px 12px 2px;
  margin: 20px 10px;
  cursor: pointer;
}

#dark-mode-button {
  color: #121212;
  background-color: #efefef;
}

#light-mode-button {
  color: #efefef;
  background-color: #121212;
}

/**** Classes for custom styles ****/
.word {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  /* keep letters of a single word together */
  height: auto;
  margin: 2vw;
}

.letter {
  height: auto;
  width: auto;
  margin: 0px .8vw;
}

.letter-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: auto;
}

.dot {
  background-color: #121212;
  -webkit-animation: rotateB;
          animation: rotateB;
  /* assigned by JS */
}

.blank {
  background-color: transparent;
}

.dot, .blank {
  min-height: 5px;
  height: 1vw;
  max-height: 10px;
  min-width: 5px;
  width: 1vw;
  max-width: 10px;
  margin: 1px;
  border: none;
  border-radius: 50%;
  /* variability assigned by JS */
}

@media screen and (min-width: 900px) {
  .dot, .blank {
    margin: 2px;
  }
}

.rotateA {
  -webkit-animation: rotateA 4s infinite;
          animation: rotateA 4s infinite;
}

.rotateB {
  -webkit-animation: rotateB 4s infinite;
          animation: rotateB 4s infinite;
}

.rotateC {
  -webkit-animation: rotateC 4s infinite;
          animation: rotateC 4s infinite;
}

.icon-group {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 38px;
  width: 38px;
  margin: 10px;
  cursor: pointer;
}

.color-scheme-icon {
  background-color: #121212;
  height: 15px;
  width: 15px;
  border-radius: 50% 0px;
  margin: 2px;
  cursor: pointer;
}

/* FADE IN */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0.0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1.0;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0.0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1.0;
  }
}

/* COLOR ROTATIONS */
@-webkit-keyframes rotateA {
  0% {
    background-color: #6da129;
  }
  10% {
    background-color: #2ba17e;
  }
  20% {
    background-color: #2c6ba5;
  }
  30% {
    background-color: #2e2caf;
  }
  50% {
    background-color: #772ca3;
  }
  60% {
    background-color: #912ca5;
  }
  70% {
    background-color: #5b2ba8;
  }
  80% {
    background-color: #2c7da3;
  }
  90% {
    background-color: #2b9c80;
  }
  100% {
    background-color: #6ea02c;
  }
}
@keyframes rotateA {
  0% {
    background-color: #6da129;
  }
  10% {
    background-color: #2ba17e;
  }
  20% {
    background-color: #2c6ba5;
  }
  30% {
    background-color: #2e2caf;
  }
  50% {
    background-color: #772ca3;
  }
  60% {
    background-color: #912ca5;
  }
  70% {
    background-color: #5b2ba8;
  }
  80% {
    background-color: #2c7da3;
  }
  90% {
    background-color: #2b9c80;
  }
  100% {
    background-color: #6ea02c;
  }
}

@-webkit-keyframes rotateB {
  0% {
    background-color: #cb771e;
  }
  10% {
    background-color: #d3a719;
  }
  20% {
    background-color: #cb9218;
  }
  30% {
    background-color: #af552c;
  }
  50% {
    background-color: #bb3122;
  }
  60% {
    background-color: #bb2a6e;
  }
  70% {
    background-color: #ab1db8;
  }
  80% {
    background-color: #b81f6e;
  }
  90% {
    background-color: #ba341c;
  }
  100% {
    background-color: #bd4816;
  }
}

@keyframes rotateB {
  0% {
    background-color: #cb771e;
  }
  10% {
    background-color: #d3a719;
  }
  20% {
    background-color: #cb9218;
  }
  30% {
    background-color: #af552c;
  }
  50% {
    background-color: #bb3122;
  }
  60% {
    background-color: #bb2a6e;
  }
  70% {
    background-color: #ab1db8;
  }
  80% {
    background-color: #b81f6e;
  }
  90% {
    background-color: #ba341c;
  }
  100% {
    background-color: #bd4816;
  }
}

@-webkit-keyframes rotateC {
  0% {
    background-color: #7fa411;
  }
  10% {
    background-color: #3a8e10;
  }
  20% {
    background-color: #2ba17e;
  }
  30% {
    background-color: #22a0c7;
  }
  50% {
    background-color: #0f85ce;
  }
  60% {
    background-color: #15bdc9;
  }
  70% {
    background-color: #0ebaa0;
  }
  80% {
    background-color: #1ac73d;
  }
  90% {
    background-color: #8ec918;
  }
  100% {
    background-color: #c5c51d;
  }
}

@keyframes rotateC {
  0% {
    background-color: #7fa411;
  }
  10% {
    background-color: #3a8e10;
  }
  20% {
    background-color: #2ba17e;
  }
  30% {
    background-color: #22a0c7;
  }
  50% {
    background-color: #0f85ce;
  }
  60% {
    background-color: #15bdc9;
  }
  70% {
    background-color: #0ebaa0;
  }
  80% {
    background-color: #1ac73d;
  }
  90% {
    background-color: #8ec918;
  }
  100% {
    background-color: #c5c51d;
  }
}
/*# sourceMappingURL=styles.css.map */